/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 12vmin;*/
/*  width: 12vmin;*/
/*  pointer-events: none;*/
/*}*/

/*.App-header {*/
/*  background: #59b1e3;*/
/*  display: flex;*/
/*  justify-content: left;*/
/*  color: white;*/
/*}*/

/*.App-header-text {*/
/*  font-size: calc(24px + 2vmin);*/
/*  !*vw and vh are viewport dimensions, this is kinda hacky, I couldn't figure out how to center it better*!*/
/*  padding-left: 32vw;*/
/*  padding-top: 2.5vh;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*.start-button {*/
/*  border-style: double;*/
/*  border-color: black;*/
/*  text-align: center;*/
/*  padding: 200px;*/
/*}*/

/*.App-nav-links{*/
/*    text-align: center;*/
/*}*/

/*.App-nav-links-text{*/
/*  display: inline-block;*/
/*  padding: 8.5vh;*/
/*  font-size: 24px;*/
/*  width: 10%;*/
/*}*/

/*.App-nav-links-text:hover{*/
/*  color: black;*/
/*  transform: scale(1.5);*/
/*}*/

.footerLink {
  color: gray;
}

.footerLink:hover {
  color: lightgray;
}

html, body {
  color: white;
  height: 100%;
  min-height: 100%;
  background: #59b1e3;
}
.min-100 {
  min-height: 100%;
}

#root {
  height: 100%;
}

td {
  text-align: center;
}

th {
  text-align: center;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.searchBar {
  position: absolute;
  /*top: 1rem;*/
  /*left: 3rem;*/
  z-index: 10;
  margin-left: 50px;
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  /*padding: 0;*/
}

.searchBar input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.header {
  flex: 0 1 auto;
}

.content {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 40px;
}

.text-responsive {
  font-size: calc(20% + 1vw + 1vh);
}


h1{
  padding:10px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin: auto;
}

.button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}