/*.App {*/
/*  text-align: center;*/
/*}*/

.App-logo {
  height: 12vmin;
  width: 12vmin;
  pointer-events: none;
}

.App-header {
  background: #59b1e3;
  display: flex;
  justify-content: left;
  color: white;
}

.App-header-text {
  font-size: calc(24px + 2vmin);
  /*vw and vh are viewport dimensions, this is kinda hacky, I couldn't figure out how to center it better*/
  padding-left: 32vw;
  padding-top: 2.5vh;
}

.App-link {
  color: #61dafb;
}

.start-button {
  border-style: double;
  border-color: black;
  text-align: center;
  padding: 200px;
}

<<<<<<< HEAD
.plotter{
  display: flex;
=======
.App-nav-links{
    text-align: center;
}

.App-nav-links-text{
  display: inline-block;
  padding: 8.5vh;
  font-size: 24px;
  width: 10%;
}

.App-nav-links-text:hover{
  color: black;
  transform: scale(1.5);
}

body {
  color: white;
  background: #59b1e3;
>>>>>>> master
}